*,div,pre,textarea,body,input,td,tr,p {
    background-color: #1D1B28 !important;
    background-image: none !important;
    color: #FFFFFF !important;
}
h1,h2,h3,h4 {
    background-color: #1D1B28 !important;
    color: #FFFFFF !important;
}
img {
    opacity: .8;
}
img:hover {
    opacity: 1;
}
